![alt text](http://www.cs.nott.ac.uk/~pszgss/teaching/nlab.png)
# ExC Panel Survey

Trying to use ChatGPT as an experimental subject

In [ ]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.2-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.1/70.1 KB 2.9 MB/s eta 0:00:00
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 24.3 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.9/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from openai) (4.65.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (3.4)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 KB 15.1 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->openai) (22.2.0)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 KB 11.3 MB/s eta 0:00:00
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 KB 20.9 MB/s eta 0:00:00
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.2 yarl-1.8.2

In [ ]:
#import os
import openai
#openai.api_key = os.getenv("OPENAI_API_KEY")
openai.api_key = input()

In [ ]:
#checking it is working
completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": "Tell the world about the ChatGPT API in the style of a pirate."}
  ]
)

print(completion.choices[0].message.content)

Arrr mateys, let me tell you about the ChatGPT API! This here be the treasure map to all yer chatbot needs. With this API, ye can create yer own chatbots and teach 'em to talk like a true swashbuckler.

It be easy to use and understand, even for the landlubbers out there. All ye need be some basic knowledge of coding and a love for adventure. The ChatGPT API be the rum to your grog, the wind to your sails, and the plank to yer enemies.

Ye can customize yer chatbots to fit yer crew's needs and personality. Add yer own flair and wit, or let the API do the talking for ye. No matter the voyage, ye can count on the ChatGPT API to provide ye with the answers ye seek.

So hoist the colors and join the crew, mateys! The ChatGPT API be the treasure ye be looking for. Arrr!

https://medium.com/geekculture/a-simple-guide-to-chatgpt-api-with-python-c147985ae28

"This is a very simple way to interact with the API. The main thing to know is that the messages list has a dictionary with 2 keys: roles and content.
The content is simply the content of the message, while there are three main roles : “system”, “user”, or “assistant”. The “user” is the one who gives the instructions and is being used in the code above.
[One could] add the system role to set the behavior of the assistant and the assistant role to store prior responses."

In [ ]:
content = input("User: ")
messages = [
 {"role": "system", "content" : "You’re a kind helpful assistant"}
]
messages.append({"role": "user", "content": content})

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=messages
)

chat_response = completion.choices[0].message.content
print(f'ChatGPT: {chat_response}')

User: What is wrong with the world now?
ChatGPT: There are many issues impacting the world today, including:

1. Climate change and environmental degradation
2. Social inequality and injustice
3. Political instability and conflict
4. Economic inequality and poverty
5. The COVID-19 pandemic and its impact on health and the economy
6. Discrimination based on race, gender, sexuality, religion, and other factors
7. Natural disasters and humanitarian crises
8. The rise of extremist ideologies and violent extremism
9. Decrease in trust in institutions and political polarization.

However, there are also many individuals and communities working towards solutions to address these issues and create a better world for all.

Here are some extra parameters:

- max_token: The maximum number of tokens to generate in the completion (here you can see the tokenizer that OpenAI uses)
- temperature: The sampling temperature to use. Values close to 1 will give the model more risk/creativity, while values close to 0 will generate well-defined answers.
- n: The number of chat completion choices to generate for each input message.

To see all the parameters available, go to the official [documentation](https://platform.openai.com/docs/api-reference/chat/create).

In [ ]:
def create_panel_prompt(product, gender, age, location, indrole):
  prompt = f"""In your opinion how do you think the typical UK consumer would feel about using/consuming a {product}. 
  Please provide a rating for your feelings as:
  1) Don't enjoy at all
  2) Don't enjoy
  3) Neither enjoy or don't enjoy
  4) Enjoy
  5) Enjoy very much
  
  Please assume the consumer can afford the product or service.
  You are a {indrole} ({gender}, {age} years old) living in {location}. 
  What is your rating (1, 2, 3, 4, or 5)?
  Please only provide a number without explanation."""
  return prompt

In [ ]:
print(create_panel_prompt("toothpaste", "male", 35, "London", "Chief Data Officer at Tesco"))

In your opinion how do you think the typical UK consumer would feel about using/consuming a toothpaste.
  Please provide a rating for your feelings as:
  1) Don't enjoy at all
  2) Don't enjoy
  3) Neither enjoy or don't enjoy
  4) Enjoy
  5) Enjoy very much

  Please assume the consumer can afford the product or service.
  You are a Chief Data Officer at Tesco (male, 35 years old) living in London.
  What is your rating (1, 2, 3, 4, or 5)?
  Please only provide a number without explanation.

In [ ]:

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": """In your opinion how do you think the typical UK consumer would feel about using/consuming a toothpaste. 
  Please provide a rating for your feelings as:
  1) Don't enjoy at all
  2) Don't enjoy
  3) Neither enjoy or don't enjoy
  4) Enjoy
  5) Enjoy very much
  
  Please assume the consumer can afford the product or service.
  You are a Chief Data Officer at Tesco (male, 35 years old) living in London. 
  What is your rating (1, 2, 3, 4, or 5)?
  Please only provide a number without explanation."""}
  ]
)

print(completion.choices[0].message.content)

4

In [ ]:
exprompt = create_panel_prompt("toothpaste", "male", 35, "London", "Chief Data Officer at Tesco")
panel_prompt = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": exprompt}
  ]
)

print(panel_prompt.choices[0].message.content)

4

In [ ]:
completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": "Please name 20 most popular cities in the UK and format them as a Python list."}
  ]
)

print(completion.choices[0].message.content)

["London", "Manchester", "Birmingham", "Leeds", "Glasgow",
"Liverpool", "Newcastle", "Sheffield", "Bristol", "Belfast",
"Edinburgh", "Southampton", "Brighton", "Cardiff", "Leicester",
"Coventry", "Hull", "Bradford", "Stoke-on-Trent", "Wolverhampton"]

In [ ]:
location = ["London", "Manchester", "Birmingham", "Leeds", "Glasgow", 
"Liverpool", "Newcastle", "Sheffield", "Bristol", "Belfast", 
"Edinburgh", "Southampton", "Brighton", "Cardiff", "Leicester", 
"Coventry", "Hull", "Bradford", "Stoke-on-Trent", "Wolverhampton"]
age = [35, 40, 45, 50]
gender = ["female","male"]
indrole = ["Chief Data Officer", "Professor"]
product_panel = ["holiday", "car", "savings account", "present for a close relative", "energy supplier", "takeout lunch in a location you are unfamiliar with", "bedroom furniture", "new smartphone", "clothes for everyday wear", "food and drink items for the main grocery shop", "wine", "music concert", "home security system", "toothpaste", "spa", "video game console", "clothes for a friend's wedding", "running shoes", "coffee machine", "jewellery"]
quest = ["using/consuming", "searching for information prior purchase regarding"]

In [ ]:
import itertools
#prompt_panel = list(itertools.product(gender, age, location, indrole))
prompt_panel = list(itertools.product(gender, age, indrole))
#prompt_panel[0][1]
len(prompt_panel)

16

In [ ]:
# create empty dataframe
import pandas as pd 
# data_prompt = pd.DataFrame(columns=['id','question','product','rating','gender','age','location','indrole'])
# NEVER grow a DataFrame row-wise!
# create product/service list + question
prompt_quest = list(itertools.product(quest, product_panel))
len(prompt_quest)

40

In [ ]:
def create_panel_prompt2(quest, product, gender, age, location, indrole):
  prompt = f"""In your opinion how do you think the typical UK consumer would feel about {quest} a {product}. 
  Please provide a rating for your feelings as:
  1) Don't enjoy at all
  2) Don't enjoy
  3) Neither enjoy or don't enjoy
  4) Enjoy
  5) Enjoy very much
  
  Please assume the consumer can afford the product or service.
  You are a {indrole} ({gender}, {age} years old) living in {location}. 
  What is your rating (1, 2, 3, 4, or 5)?
  Please only provide a number without explanation."""
  return prompt

In [ ]:
def create_panel_prompt3(quest, product, gender, age, indrole):
  prompt = f"""You are a {indrole} ({gender}, {age} years old) living in UK. 
  In your opinion how do you think the typical UK consumer would feel about {quest} a {product}?
  Please assume the consumer can afford the product or service.
  Please provide a rating on behalf of the typical UK consumer:
  Don't enjoy at all = 1
  Don't enjoy = 2
  Neither enjoy or don't enjoy = 3
  Enjoy = 4
  Enjoy very much = 5
  Please provide only a number without explanation.
  """
  return prompt

We need now to loop through scenarios to get a rating number for each 'fake' subject for each scenario

In [ ]:
lid = []
lqu = []
lpr = []
lrt = []
lge = []
lag = []
llo = []
lro = []

for i in [0, 1, 2, 3, 4, 5]:
  #range(len(prompt_panel))
  # these are fake subjects
  id = i+1
  for j in [0, 1, 2, 3, 4, 5]:
    #range(len(prompt_quest))
    lid.append(id)
    lge.append(prompt_panel[i][0])
    lag.append(prompt_panel[i][1])
    llo.append(prompt_panel[i][2])
    lro.append(prompt_panel[i][3])
    if prompt_quest[j][0] == "using/consuming":
      q = 1
    else:
      q = 2
    lqu.append(q)
    lpr.append(prompt_quest[j][1])
    prompt = create_panel_prompt2(prompt_quest[j][0], prompt_quest[j][1], prompt_panel[i][0], prompt_panel[i][1], prompt_panel[i][2], prompt_panel[i][3])
    panel_prompt2 = openai.ChatCompletion.create(
      model="gpt-3.5-turbo",
      messages=[
        {"role": "user", "content": prompt}
      ]
    )
    lrt.append(panel_prompt2.choices[0].message.content)

APIError: ignored

In [ ]:
len(lid)

19

In [ ]:
len(lrt)

18

In [ ]:
data_gpt1 = pd.DataFrame(
    {'subjid': lid[0:18],
     'quest': lqu[0:18],
     'product': lpr[0:18],
     'rating': lrt,
     'gender': lge[0:18],
     'age': lag[0:18],
     'location': llo[0:18],
     'role': lro[0:18]
    })
data_gpt1

,subjid,quest,product,rating,gender,age,location,role
0,1,1,holiday,4,female,35,London,Chief Data Officer
1,1,1,car,3,female,35,London,Chief Data Officer
2,1,1,savings account,4,female,35,London,Chief Data Officer
3,1,1,present for a close relative,4,female,35,London,Chief Data Officer
4,1,1,energy supplier,3,female,35,London,Chief Data Officer
5,1,1,takeout lunch in a location you are unfamiliar...,3,female,35,London,Chief Data Officer
6,2,1,holiday,4,female,35,London,Professor
7,2,1,car,3,female,35,London,Professor
8,2,1,savings account,4,female,35,London,Professor
9,2,1,present for a close relative,3,female,35,London,Professor
10,2,1,energy supplier,3,female,35,London,Professor
11,2,1,takeout lunch in a location you are unfamiliar...,4,female,35,London,Professor
12,3,1,holiday,4,female,35,Manchester,Chief Data Officer
13,3,1,car,3,female,35,Manchester,Chief Data Officer
14,3,1,savings account,4,female,35,Manchester,Chief Data Officer
15,3,1,present for a close relative,4,female,35,Manchester,Chief Data Officer
16,3,1,energy supplier,3,female,35,Manchester,Chief Data Officer
17,3,1,takeout lunch in a location you are unfamiliar...,3,female,35,Manchester,Chief Data Officer

In [ ]:
data_gpt1.to_csv('data_gpt1.csv')

In [ ]:
lid = lid[0:18]
lqu = lqu[0:18]
lpr = lpr[0:18]
lrt = lrt[0:18]
lge = lge[0:18]
lag = lag[0:18]
llo = llo[0:18]
lro = lro[0:18]

for i in [0, 1, 2, 3, 4, 5]:
  #range(len(prompt_panel))
  # these are fake subjects
  id = i+1
  for j in [6,7,8,9,10]:
    #range(len(prompt_quest))
    lid.append(id)
    lge.append(prompt_panel[i][0])
    lag.append(prompt_panel[i][1])
    llo.append(prompt_panel[i][2])
    lro.append(prompt_panel[i][3])
    if prompt_quest[j][0] == "using/consuming":
      q = 1
    else:
      q = 2
    lqu.append(q)
    lpr.append(prompt_quest[j][1])
    prompt = create_panel_prompt2(prompt_quest[j][0], prompt_quest[j][1], prompt_panel[i][0], prompt_panel[i][1], prompt_panel[i][2], prompt_panel[i][3])
    panel_prompt2 = openai.ChatCompletion.create(
      model="gpt-3.5-turbo",
      messages=[
        {"role": "user", "content": prompt}
      ]
    )
    lrt.append(panel_prompt2.choices[0].message.content)

APIConnectionError: ignored

In [ ]:
len(lrt)

32

In [ ]:
len(lid)

33

In [ ]:
data_gpt2 = pd.DataFrame(
    {'subjid': lid[0:32],
     'quest': lqu[0:32],
     'product': lpr[0:32],
     'rating': lrt,
     'gender': lge[0:32],
     'age': lag[0:32],
     'location': llo[0:32],
     'role': lro[0:32]
    })
data_gpt2

,subjid,quest,product,rating,gender,age,location,role
0,1,1,holiday,4,female,35,London,Chief Data Officer
1,1,1,car,3,female,35,London,Chief Data Officer
2,1,1,savings account,4,female,35,London,Chief Data Officer
3,1,1,present for a close relative,4,female,35,London,Chief Data Officer
4,1,1,energy supplier,3,female,35,London,Chief Data Officer
5,1,1,takeout lunch in a location you are unfamiliar...,3,female,35,London,Chief Data Officer
6,2,1,holiday,4,female,35,London,Professor
7,2,1,car,3,female,35,London,Professor
8,2,1,savings account,4,female,35,London,Professor
9,2,1,present for a close relative,3,female,35,London,Professor
10,2,1,energy supplier,3,female,35,London,Professor
11,2,1,takeout lunch in a location you are unfamiliar...,4,female,35,London,Professor
12,3,1,holiday,4,female,35,Manchester,Chief Data Officer
13,3,1,car,3,female,35,Manchester,Chief Data Officer
14,3,1,savings account,4,female,35,Manchester,Chief Data Officer
15,3,1,present for a close relative,4,female,35,Manchester,Chief Data Officer
16,3,1,energy supplier,3,female,35,Manchester,Chief Data Officer
17,3,1,takeout lunch in a location you are unfamiliar...,3,female,35,Manchester,Chief Data Officer
18,1,1,bedroom furniture,4,female,35,London,Chief Data Officer
19,1,1,new smartphone,4,female,35,London,Chief Data Officer
20,1,1,clothes for everyday wear,3,female,35,London,Chief Data Officer
21,1,1,food and drink items for the main grocery shop,3,female,35,London,Chief Data Officer
22,1,1,wine,4,female,35,London,Chief Data Officer
23,2,1,bedroom furniture,3,female,35,London,Professor
24,2,1,new smartphone,3,female,35,London,Professor
25,2,1,clothes for everyday wear,3,female,35,London,Professor
26,2,1,food and drink items for the main grocery shop,3,female,35,London,Professor
27,2,1,wine,4,female,35,London,Professor
28,3,1,bedroom furniture,4,female,35,Manchester,Chief Data Officer
29,3,1,new smartphone,4,female,35,Manchester,Chief Data Officer
30,3,1,clothes for everyday wear,3,female,35,Manchester,Chief Data Officer
31,3,1,food and drink items for the main grocery shop,4,female,35,Manchester,Chief Data Officer

In [ ]:
data_gpt2.to_csv('data_gpt2.csv')

In [ ]:
pd.read_csv('data_gpt2.csv')

In [ ]:
lid = lid[0:18]
lqu = lqu[0:18]
lpr = lpr[0:18]
lrt = lrt[0:18]
lge = lge[0:18]
lag = lag[0:18]
llo = llo[0:18]
lro = lro[0:18]

for i in [0, 1, 2, 3, 4, 5]:
  #range(len(prompt_panel))
  # these are fake subjects
  id = i+1
  for j in [6,7,8,9,10]:
    #range(len(prompt_quest))
    lid.append(id)
    lge.append(prompt_panel[i][0])
    lag.append(prompt_panel[i][1])
    llo.append(prompt_panel[i][2])
    lro.append(prompt_panel[i][3])
    if prompt_quest[j][0] == "using/consuming":
      q = 1
    else:
      q = 2
    lqu.append(q)
    lpr.append(prompt_quest[j][1])
    prompt = create_panel_prompt2(prompt_quest[j][0], prompt_quest[j][1], prompt_panel[i][0], prompt_panel[i][1], prompt_panel[i][2], prompt_panel[i][3])
    panel_prompt2 = openai.ChatCompletion.create(
      model="gpt-3.5-turbo",
      messages=[
        {"role": "user", "content": prompt}
      ]
    )
    lrt.append(panel_prompt2.choices[0].message.content)

In [ ]:
lid = []
lqu = []
lpr = []
lrt = []
lge = []
lag = []
lro = []

for i in [10, 11, 12, 13, 14, 15]:
  #range(len(prompt_panel))
  # these are fake subjects
  id = i+1
  for j in [37, 38, 39]:
    #range(len(prompt_quest))
    lid.append(id)
    lge.append(prompt_panel[i][0])
    lag.append(prompt_panel[i][1])
    lro.append(prompt_panel[i][2])
    if prompt_quest[j][0] == "using/consuming":
      q = 1
    else:
      q = 2
    lqu.append(q)
    lpr.append(prompt_quest[j][1])
    prompt = create_panel_prompt3(prompt_quest[j][0], prompt_quest[j][1], prompt_panel[i][0], prompt_panel[i][1], prompt_panel[i][2])
    panel_prompt2 = openai.ChatCompletion.create(
      model="gpt-3.5-turbo",
      messages=[
        {"role": "user", "content": prompt}
      ]
    )
    lrt.append(panel_prompt2.choices[0].message.content)

In [ ]:
print(len(lrt))
print(len(lqu))

18
18

In [ ]:
data_gpt3 = pd.DataFrame(
    {'subjid': lid[0:len(lrt)],
     'quest': lqu[0:len(lrt)],
     'product': lpr[0:len(lrt)],
     'rating': lrt,
     'gender': lge[0:len(lrt)],
     'age': lag[0:len(lrt)],
     'role': lro[0:len(lrt)]
    })
data_gpt3

    subjid  quest         product rating gender  age                role
0       11      2   running shoes      4   male   40  Chief Data Officer
1       11      2  coffee machine      4   male   40  Chief Data Officer
2       11      2       jewellery      4   male   40  Chief Data Officer
3       12      2   running shoes      3   male   40           Professor
4       12      2  coffee machine      4   male   40           Professor
5       12      2       jewellery      4   male   40           Professor
6       13      2   running shoes      4   male   45  Chief Data Officer
7       13      2  coffee machine      4   male   45  Chief Data Officer
8       13      2       jewellery      4   male   45  Chief Data Officer
9       14      2   running shoes      3   male   45           Professor
10      14      2  coffee machine      4   male   45           Professor
11      14      2       jewellery      4   male   45           Professor
12      15      2   running shoes      4   male   50  Chief Data Officer
13      15      2  coffee machine      4   male   50  Chief Data Officer
14      15      2       jewellery      4   male   50  Chief Data Officer
15      16      2   running shoes      3   male   50           Professor
16      16      2  coffee machine      4   male   50           Professor
17      16      2       jewellery      4   male   50           Professor

In [ ]:
# stack the two DataFrames
#data_gpt = data_gpt3 # only first time?
data_gpt = pd.read_csv('data_gpt.csv')
data_gpt = pd.concat([data_gpt, data_gpt3], join="inner", ignore_index=True)
data_gpt.to_csv('data_gpt.csv')

In [ ]:
data_gpt.shape

(640, 7)

In [ ]:
data_gpt.tail()

     subjid  quest         product rating gender  age                role
635      15      2  coffee machine      4   male   50  Chief Data Officer
636      15      2       jewellery      4   male   50  Chief Data Officer
637      16      2   running shoes      3   male   50           Professor
638      16      2  coffee machine      4   male   50           Professor
639      16      2       jewellery      4   male   50           Professor